In [3]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=19e952798f6f727487d60d45baa513ee3d93348e4a212bde3312b416843e6a37
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [5]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

**Q1**: Install Spark and PySpark. Which the output?

In [6]:
spark.version

'3.5.1'

In [7]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-02 00:56:18--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T005618Z&X-Amz-Expires=300&X-Amz-Signature=e8bd68e7b4e65864ae8143326998a66164c70ad133abcb72de4109636453ae46&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-02 00:56:18--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T005618Z&X-Amz-Expires=300&X-Amz-Signature=e8bd68e7b4e65864ae8143326998a66164c70ad133abcb72de4109636453ae46&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  --.-KB/s    in 0.1s

2024-03-02 00:56:18 (140 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [8]:
!gunzip fhv_tripdata_2019-10.csv.gz

In [9]:
!ls -lh fhv_tripdata_2019-10.csv

-rw-r--r-- 1 root root 115M Dec  2  2022 fhv_tripdata_2019-10.csv

In [10]:
df_test = spark.read.option("header", "true").csv("fhv_tripdata_2019-10.csv")
df_test.show(10)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 10 rows

In [11]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [12]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

df = df.repartition(6)

df.write.parquet('data/pq/fhv/2019/10/')

In [14]:
df = spark.read.parquet('data/pq/fhv/2019/10/')

**Q2**: What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.?

In [13]:
!ls -lh data/pq/fhv/2019/10/

total 38M
-rw-r--r-- 1 root root 6.3M Mar  2 01:07 part-00000-d1ec1d89-5057-45bf-8cf1-0adecf9f6d32-c000.snappy.parquet
-rw-r--r-- 1 root root 6.3M Mar  2 01:07 part-00001-d1ec1d89-5057-45bf-8cf1-0adecf9f6d32-c000.snappy.parquet
-rw-r--r-- 1 root root 6.3M Mar  2 01:07 part-00002-d1ec1d89-5057-45bf-8cf1-0adecf9f6d32-c000.snappy.parquet
-rw-r--r-- 1 root root 6.3M Mar  2 01:07 part-00003-d1ec1d89-5057-45bf-8cf1-0adecf9f6d32-c000.snappy.parquet
-rw-r--r-- 1 root root 6.3M Mar  2 01:07 part-00004-d1ec1d89-5057-45bf-8cf1-0adecf9f6d32-c000.snappy.parquet
-rw-r--r-- 1 root root 6.3M Mar  2 01:07 part-00005-d1ec1d89-5057-45bf-8cf1-0adecf9f6d32-c000.snappy.parquet
-rw-r--r-- 1 root root    0 Mar  2 01:07 _SUCCESS

**Q3**: How many taxi trips were there on October 15?

---

In [15]:
from pyspark.sql import functions as F

In [16]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [18]:
df.createOrReplaceTempView('fhv_2019_10')

In [19]:
spark.sql("""
SELECT
    COUNT(1)
FROM
    fhv_2019_10
WHERE
    to_date(pickup_datetime) = '2019-10-15';
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

**Q4**: Longest trip for each day

In [20]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [23]:
df \
    .withColumn('pickup_datetime_long', df.pickup_datetime.cast('long')) \
    .withColumn('dropoff_datetime_long', df.dropoff_datetime.cast('long')) \
    .limit(5) \
    .show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------------------+---------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|pickup_datetime_long|dropoff_datetime_long|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------------------+---------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   NULL|                  NULL|          1569923738|           1569924343|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   NULL|                B01315|          1570288384|           1570288788|
|              B01984|2019-10-12 17:13:00|2019-10-12 17:40:00|         264|          75|   NULL|                B01984|          1570900380|           1570902000|
|              B00310|2019-10-15 10:55:04|2019-10-15 11:00:45|         264|         247|   NULL|                B03047|          1571136904|           1571137245|
|              B00932|2019-10-08 06:58:42|2019-10-08 07:11:11|         264|          37|   NULL|                B00932|          1570517922|           1570518671|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------------------+---------------------+

In [24]:
# Because columns dropoff_datetime & pickup_datetime were in seconds format,
# divined by 60 to convert to minutes format
# divined by 60 to convert to hours format
df \
    .withColumn('duration', (df.dropoff_datetime.cast('long') - df.pickup_datetime.cast('long'))/60/60) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+-----------------+
|pickup_date|    max(duration)|
+-----------+-----------------+
| 2019-10-28|         631152.5|
| 2019-10-11|         631152.5|
| 2019-10-31|87672.44083333334|
| 2019-10-01|70128.02805555557|
| 2019-10-17|           8794.0|
+-----------+-----------------+

In [25]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 60 / 60) AS duration
FROM
    fhv_2019_10
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+------------------+
|pickup_date|          duration|
+-----------+------------------+
| 2019-10-28|          631152.5|
| 2019-10-11|          631152.5|
| 2019-10-31| 87672.44083333334|
| 2019-10-01| 70128.02805555557|
| 2019-10-17|            8794.0|
| 2019-10-26| 8784.166666666666|
| 2019-10-30|1464.5344444444445|
| 2019-10-25|1056.8266666666666|
| 2019-10-02| 769.2313888888889|
| 2019-10-23| 745.6166666666667|
+-----------+------------------+

**Q4a**: Most frequent `dispatching_base_num`

How many stages this spark job has? (Not in homework)

In [26]:
spark.sql("""
SELECT
    dispatching_base_num,
    COUNT(1)
FROM
    fhv_2019_10
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+--------------------+--------+
|dispatching_base_num|count(1)|
+--------------------+--------+
|              B01145|   47548|
|              B00256|   43234|
|              B00856|   36778|
|              B03016|   34985|
|              B01239|   33586|
+--------------------+--------+

In [27]:
df \
    .groupBy('dispatching_base_num') \
        .count() \
    .orderBy('count', ascending=False) \
    .limit(5) \
    .show()

+--------------------+-----+
|dispatching_base_num|count|
+--------------------+-----+
|              B01145|47548|
|              B00256|43234|
|              B00856|36778|
|              B03016|34985|
|              B01239|33586|
+--------------------+-----+

**Q4b**: Most common locations pair

In [29]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-02 01:40:15--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T014015Z&X-Amz-Expires=300&X-Amz-Signature=411b00e3021cc0e2a0f7f949091d4d82e0697cbf1ffa51c8d915b98659abf87f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-02 01:40:15--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T014015Z&X-Amz-Expires=300&X-Amz-Signature=411b00e3021cc0e2a0f7f949091d4d82e0697cbf1ffa51c8d915b98659abf87f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-02 01:40:15 (52.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [31]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [32]:
df_zones.write.parquet('zones')

In [33]:
df_zones = spark.read.parquet('zones')

In [34]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [35]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [37]:
df_zones.createOrReplaceTempView('zones')

In [38]:
spark.sql("""
SELECT
    CONCAT(pul.Zone, ' / ', dol.Zone) AS pu_do_pair,
    COUNT(1)
FROM
    fhv_2019_10 fhv LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
                      LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+--------------------+--------+
|          pu_do_pair|count(1)|
+--------------------+--------+
|             NV / NV|  341803|
|             NV / NA|   38677|
|  NV / East New York|   30540|
|NV / Williamsbrid...|   23154|
|NV / Washington H...|   21667|
+--------------------+--------+

**Q5**: Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?

In [41]:
spark.sql("""
SELECT
  zo.Zone AS zone,
  COUNT(1)
FROM fhv_2019_10 fhv LEFT JOIN zones zo ON zo.LocationID = fhv.PULocationID
GROUP BY 1
ORDER BY 2 ASC
LIMIT 5
""").show()

+--------------------+--------+
|                zone|count(1)|
+--------------------+--------+
|         Jamaica Bay|       1|
|Governor's Island...|       2|
| Green-Wood Cemetery|       5|
|       Broad Channel|       8|
|     Highbridge Park|      14|
+--------------------+--------+